<%= form_for(@messageboard) do |f| %>
  <% if @messageboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@messageboard.errors.count, "error") %> prohibited this messageboard from being saved:</h2>

      <ul>
      <% @messageboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
